<div class="login-wrapper">
  <div class="login-card">
    <header class="card-header">
      <h2 class="card-title">
        <mat-icon>account_circle</mat-icon>
        Iniciar Sesión
      </h2>
    </header>

    <form class="form-grid" (submit)="$event.preventDefault(); loginSubmit()">

      <div class="campo">
        <label>Email</label>
        <input
          class="modern-input"
          [class.input-error]="showMailError()"
          type="text"
          name="nombreUsuario"
          [value]="formData().email"
          (input)="updateField('email', $any($event.target).value)"
          placeholder="Ej: usuario@email.com"
        />
        <app-form-error [mostrar]="showMailError()" mensaje="El email es obligatorio" />
      </div>

      <div class="campo">
        <label>Contraseña</label>
        <div class="input-wrapper">
          <input
            class="modern-input"
            [class.input-error]="showPasswordError()"
            [type]="showPassword() ? 'text' : 'password'"
            name="contrasena"
            [value]="formData().password"
            (input)="updateField('password', $any($event.target).value)"
            
          />
          <button
            type="button"
            class="toggle-visibility"
            (click)="showPassword.update(v => !v)"
            [attr.aria-label]="showPassword() ? 'Ocultar contraseña' : 'Mostrar contraseña'"
          >
            <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <app-form-error [mostrar]="showPasswordError()" [mensaje]="passwordError()" />
      </div>

      <div class="card-actions">
        <app-boton-propio
          [texto]="isLoginIn() ? 'Cargando...' : 'Entrar'"
          [color]="'#27ae60'"
          [tipo] ="'submit'">
        </app-boton-propio>
      </div>

    </form>

    <div class="registro-section">
      <p>¿No tienes una cuenta?</p>
      <a routerLink="/register" class="registro-link">Regístrate ahora</a>
    </div>
  </div>
</div>
